*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/
target/
project/target/
project/project/
.metals/
.bloop/
.vscode/
scratch*/ 
scratches/
.DS_Store
*.iml
*.class
*.log
*.swp
/out/
/external-libraries/

