# sbt/Scala
target/
project/target/
project/project/
project/metals.sbt

# BSP / build servers
.bsp/
sbt.json

# IntelliJ / IDEs
.idea/
*.iml
.out/
.vscode/
.bloop/
.metals/

# OS cruft
.DS_Store
Thumbs.db
*.log
*.swp

# Ignore all Scala worksheets
*.sc

